
::selection { background-color: cornflowerblue; color: white; }

::-webkit-scrollbar { width: 0.6vw; }

::-webkit-scrollbar-track { background-color: rgba(0, 0, 0, 0); }

::-webkit-scrollbar-thumb { background: rgb(255, 255, 255); }

::-webkit-scrollbar-thumb:hover { background: rgba(255, 255, 255, 0.6); }

* { box-sizing: border-box; }

@font-face {
    font-family: 'Heebo';
    src: url('/Fonts/Heebo-Light.ttf');
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/Wallpapers/wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
    direction: rtl;
    font-family: Heebo, sans-serif;
    font-size: 1vw;
    -ms-overflow-style: none;
    overflow: hidden;
}

#nav-bar {
    position: absolute;
    display: inline-block;
    width: 12%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    background-image : linear-gradient(to right,
    rgba(30, 30, 30, 0.001),
    rgba(30, 30, 30, 0.3) 50%);
}

#nav-bar::-webkit-scrollbar {
    display: none;
}

.nav-btn {
    display: block;
    user-select: none;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1.1vw;
    text-align: right;
    padding-right: 4vw;
    width: initial;
    height: 4vw;
    line-height: 4vw;
    border-right: 6px solid rgba(255,255,255,0.05);
}

.nav-btn:hover {
    background-color: rgba(255,255,255,0.05);
    border-right-color: rgb(211, 18, 66);
    outline: none;
    transition: 0.5s;
}

.nav-btn:active {
    border-right-color: white;
    background-color: rgba(211, 18, 66, 0.8);
    transition: -0.1s;
    color: white;
}

.nav-icon {
    position: absolute;
    margin-top: 1vw;
    right: 1vw;
    height: 2vw;
    width: 2vw;
}

#main-container {
    position: absolute;
    margin: 0;
    padding: 2vw;
    width: 87%;
    height: 100%;
    left: 0;
    overflow: auto;
}

.button-content {
    display: none;
    padding: 0;
}

th, td {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px;
    height: 2vw;
    vertical-align: middle;
}

th:first-child {
    border-color: transparent;
}

th {
    background-color: rgb(211, 18, 66);
    border-color: transparent;
}

.light-shufersal {
    background-image : linear-gradient(to left,
    rgba(255, 255, 255, 0.0001),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.7) 100%);
}

.dark-shufersal {
    background-image : linear-gradient(to left,
    rgba(30, 30, 30, 0.0001),
    rgba(30, 30, 30, 0.4) 10%,
    rgba(30, 30, 30, 0.8) 90%);
}

.border-fix-big {
    border-left: transparent;
}

.border-fix-small {
    border-right: transparent;
}

.marked-g {
    border: 1px solid white;
    padding: 0 0.3vw 0 0.3vw;
    background-color: rgba(27, 240, 20, 0.4);
}

.marked-r {
    border: 1px solid white;
    padding: 0 0.3vw 0 0.3vw;
    background-color: rgba(255, 0, 0, 0.4);
}

.wlcm-pg {
    background-image: url('/Images/Shufersal/shufersal-logo.png');
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position-y: 23vw;
    user-select: none;
}

#wlcm {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
    font-size: 5vw;
    margin: 0;
}

#wlcm-msg1 {
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.9);
    font-size: 1.2vw;
    padding: 0;
    margin: 0;
}

#wlcm-msg2 {
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.9);
    font-size: 1.2vw;
    padding: 0;
    margin: 0.3vw 0 0 0;
}

#linked-profile {
    position: fixed;
    height: 2vw;
    top: 45vw;
    left: 2vw;
}

#down { /* down table START */
    margin: 1vw 0 1vw 0;
}

#down th:nth-child(1){
    width: 5vw;
}

#down th:nth-child(2){
    width: 10vw;
}

#down th:nth-child(3){
    width: 5vw;
}

#down th:nth-child(4){
    width: 5vw;
}

#down th:nth-child(5){
    width: 10vw;
}

#down th:nth-child(6){
    width: 10vw;
}  /* down table FINISH */

.mark { /* Symbol of Mark */
    height: 1vw;
    vertical-align: middle;
}

.plain-sight { /* Firefox link */
    width: 1px;
    height: 1px;
    position: absolute;
    right: -9999px;
}

.mail-to, .call-to {
    color: white;
    text-decoration: none;
}

.mail-to:hover, .call-to:hover {
    color: #D31242;
    transition: linear 0.1s;
}

.mail-to:active, .call-to:active {
    color: red;
}

.hyperlink {
    color: rgb(211, 18, 66);
    text-decoration: none;
}

.hyperlink:hover {
    color: rgb(40, 137, 175)
}

.hyperlink:active {
    color: rgb(24, 113, 148)
}

.modified-table {
    background-color: rgba(0, 0, 0, 0.3);
    border-collapse: collapse;
    border-spacing: unset;
    margin-left: 1vw;
}

.modified-par-heading {
    margin: 0 0 1vw 0;
    color: white;
    font-size: 3vw; /* Heading 3vw */
    text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-color: rgb(211, 18, 66);
}

.modified-par-subheading {
    margin: 0;
    padding: 0.5vw 0 0.5vw 0;
    font-size: 1.7vw; /* Subheading 1.5vw */
    color: white;
    text-decoration-line: underline;
    text-underline-offset: 0.21vw;
    text-decoration-color: rgb(211, 18, 66);
}

.modified-par {
    margin: 0;
    padding: 0;
    font-size: 1.3vw; /* Regular 1.3vw */
    color: white;
}

.modified-ol li, .modified-ul li {
    margin: 0;
    padding: 0.2vw 0 0.2vw 0;
    color: white;
    font-size: 1.3vw; /* List Item 1.3vw */
}

.modified-ul {
    list-style: disc;
    margin: 0;
}

.modified-ol {
    margin: 0.5vw 0 0.5vw 0;
    list-style-type: decimal;
}

.modified-underlined {
    text-decoration: underline;
    text-decoration-color: rgb(211, 18, 66);
}

.notebox {
    margin: 1vw;
    padding: 1.5vw;
    width: fit-content;
    border: 3px solid rgb(211, 18, 66);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.modified-image {
    padding: 0;
    margin-top: 1vw;
    border: rgb(211, 18, 66) solid 1px;
    width: 60%;
}

.extra-width {
    width: 90%;
}

.garmon-button {
    text-align: right;
    direction: rtl;
    font-family: 'Heebo', sans-serif;
    font-size: 1.3vw;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
    outline: none;
    user-select: none;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 1vw 1vw 1vw 0;
    width: 100%;
    color: white;
    border: none;
    background-color: transparent;
    border-right: 6px solid transparent;
}

.garmon-button:hover {
    color: rgb(211, 18, 66);
    transition: 0.4s ease-out;
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgb(211, 18, 66);
}

.active-garmon, .active-garmon:hover {
    position: sticky;
    top: -2vw;
    background-color: rgb(211, 18, 66);
    color: white;
    font-size: 1.5vw;
    font-weight: 700;
    transition: 0.5s;
}

.garmon-content {
    overflow: hidden;
    max-height: 0;
    transition: 0.4s ease-out;
}

.modified-div {
    background: rgba(0, 0, 0, 0.8);
    padding: 1vw 1vw;
    margin: 0; 
}

.modified-img {
    border: 1px solid white;
    display: block;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
}

.modified-img-welcome {
    width: 2vw;
    vertical-align: middle;
}

.down {
    margin: 1vw 0 1vw 0;
}

.down th {
    width: 5vw;
}

.down th:nth-child(3), th:nth-child(4) {
    width: 10vw;
}

.down th:nth-child(5) {
    width: 30vw;
}

.down td {
    width: 5vw;
}

.api {
    margin: 2vw 0 2vw 2vw;
}

.api th:first-child{
    width: 13vw;
}
.api th:nth-child(2){
    width: 6vw;
}
.api th:nth-child(3){
    width: 7vw;
}
.api th:nth-child(4){
    width: 10vw;
}
.api th:nth-child(5){
    width: 20vw;
}
.api th:nth-child(6){
    width: 5vw;
}

.api td:first-child {
    text-align: left;
    padding-left: 2vw;
}

.chrome {
    vertical-align: middle;
    height: 2vw;
}

.general-knowledge {
    display: inline-block;
    vertical-align: top;
}

.computer {
    width: 15vw;
}

.station-num {
    width: 10vw;
}

.vlan-info {
    width: 15vw;
}

.vlan-start {
    width: 10vw;
}

.vlan {
    width: 5vw;
}

.vlan-prefix {
    width: 5vw;
}

.printer {
    margin: 2vw 2vw 2vw 2vw;
}

.manufacturer {
    width: 8vw; /* 8 */
}

.model {
    width: 8vw; /* 16 */
}

.driver {
    width: 15vw; /* 31 */
}

.usage {
    width: 15vw; /* 46 */
}

.support {
    width: 6vw; /* 52 */
}

.serial {
    width: 5vw; /* 57 */
}

.color {
    width: 5vw; /* 62 */
}

.additional {
    width: 31vw;
}

.additional-zebra {
    width: 36.05vw;
}

.scale {
    margin: 2vw 0 0 2vw;
    float: left;
}

.nts-number {
    width: 5vw;
    padding: 0;
    margin: 0;
}

.nts-section {
    width: 13vw;
}

.sls-number {
    width: 5vw;
}

.sls-section {
    width: 10vw;
}

.cashier {
    margin: 2vw;
}

.cashier th {
    width: 14vw;
}

.cashier th:last-child {
    width: 20vw;
}

.phonebook th:first-child {
    width: 20vw;
}

.phonebook th:nth-child(2) {
    width: 10vw;
}

.phonebook th:nth-child(3) {
    width: 5vw;
}

.phonebook th:nth-child(4) {
    width: 10vw;
}

.phonebook th:nth-child(5) {
    width: 20vw;
}

.phonebook th:nth-child(6) {
    width: 4vw;
}